h1 , h2 , h3 , h4 , p, li {
    font-family: sans-serif ;

 }
 h1 {
    color: #2ebaab;
    font-size: 30px;
    text-transform: uppercase;
    font-style: italic;
}
h2 {
    color: #2ebaab;
    font-size: 30px;
    text-transform: bold;
    font-style: italic;
}
p {
    font-size: 18px; 
    line-height: 1.5;
    text-align: left;


}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
img {
    width: 100px;
    height: 100px;
    background-color: none;
}


label.logo {
    font-size: 100px;
    line-height: 90px;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}
nav img {
    width: 180px;
    height: 70px;
    background-color: none;
    margin-left: 10px;
}
nav ul li a {
    color: aliceblue;
    font-size: 18px;
    padding:7px 13 px;
    border-radius:3px;
    text-transform: uppercase;
}
a.active,a.hover {
background: #169bff;
transition: .5s;
}
.checkbtn {
    font-size: 30px;
    color:aliceblue;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;

    }
}
article-1 {
    background-color:#2ebaab ;
    width: 100px;
    height: 80px;
}
article-1 div {
    background-color:#2ebaab ;
    width: 120px;
    height: 150px;
    padding-inline: 70px;
    
}
article-1 div img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    align-self: start;
    text-align: justify;
}
.item {
    vertical-align: middle;
}
body {
background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('IMG/Template1.jpeg');
}
.hero-image {
    /*background-image: url(IMG/55.jpg);*/
    height: 540px;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top: whitesmoke;
  white-space: 30px;
}
.hero-text {
    text-align: left;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
}

banner div h3 {
    font-size: 50px;
    color: hsl(205, 100%, 93%);
    float:inline-end ;
    justify-content: center;
}
banner div p {
    font-size: 30px;
    color: #e5fffc;
}
.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}
